.Mode {
    &__button {
        &:not(:last-child) {
            margin-right: 17px;
        }
        &:hover {
            .Mode__icon {
                fill: #4357EA;
            }
        }
    }
    &__icon {
        fill: #031772;
        height: 31px;
        transition: .3s ease;
        width: 31px;
    }
}