
.App {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

// label {
//   font-size: 11px;
//   margin-top: 25px;
//   margin-bottom: 5px;
//   text-transform: uppercase;
//   font-weight: bolder;
//   width: 100%;
//   color: #8992A3;
// }

// input {
//   font-size: 12px;
//   border-radius: 5px;
//   border: 1px solid #8992A3;
//   background: #F8FBFF;
//   height: 40px;
//   width: calc(100% - 20px);
//   padding: 0 10px;
// }

// button {
//   font-weight: bolder;
//   border-radius: 5px;
//   text-transform: uppercase;
//   background: #3366FF;
//   padding: 7px 30px;
//   color: #FFFFFF;
//   text-align: center;
//   line-height: 12px;
// }