.tableItem {
  padding: 25px;
  width: calc(100% - 50px);
  background: #F9FAFD;
  border-radius: 37px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    &_buttons {
      & svg {
        margin: 0 5px;
        &:first-of-type {
          margin-left: 0;
        }
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
    &_inside {
      &_title {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 16px;
        text-transform: capitalize;
      }
    }
  }
  &__information {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    &_inside {
      margin-left: 20px;
      &:first-of-type {
        margin-right: 20px;
      }
      &_title {
        margin-bottom: 10px;
        font-weight: bold;
        color: #031772;
        font-size: 14px;
      }
    }
  }
}