.WeekSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__text {
        font-size: 24px;
        font-weight: bold;
        color: #031772;
        margin-bottom: 16px;
    }
    &__buttons {
        display: flex;
    }
    &__button {
        display: flex;
        align-items: center;
        padding: 0px 32px;
        height: 40px;
        border: 1px solid #4357EA;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 500;
        transition: .2s ease;
        &:not(:last-child) {
            margin-right: 16px;
        }
        &:hover {
            background: #4357EA;
            color: #FFFFFF;
        }
        &--active {
            background: #4357EA;
            color: #FFFFFF;
            cursor: default;
        }
    }
}