.planner{
    width: 90%;
    height: 360px;
    padding: 10px;
    &-container{
        height: 100%;
        display: flex;
        justify-content: space-between;
    }
    .visits-of-the-day-container{
        width: 15%;
        padding: 0 10px;
        border-right: 1px solid rgba(67, 87, 234, 0.5);
    }
    .visits-of-the-day-content{
        height: 100%;
    }
    .visits-of-the-day, .visits-to-plan-container{
        height: 100%;
        overflow: scroll;
    }
    .visits-to-plan-container{
        width: 80%;
    }
}
.visits-of-the-day__hotel, .visits-to-plan, .visits-labels{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F9FAFD;
    padding: 0 15px;
}

.visits-of-the-day__hotel{
    margin-top: 10px;
    height: 60px;
}
.visits-to-plan{
    margin-top: 10px;
}

.red{
    color: red;
}

.btnAddDelete{
    cursor: pointer;
    font-size: 17px;
    width: 15px;
    border-radius: 50px;
    border: 2px #4357EA solid;
    height: 15px;
    text-align: center;
}