@import '../../../styles/mixins.scss';

.backgroundBody {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: #000000a6;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .popin-form {
    position: fixed;
    z-index: 20;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: auto;
    background-color: #ffffff;
    .popin-header {
      position: relative;
      background: #eff2fb;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      h2 {
        font-weight: 500;
      }
      span {
        cursor: pointer;
        position: absolute;
        right: 10px;
      }
    }

    &-container {
      width: 80%;
      margin: auto;
      padding: 30px 0;
      p {
        text-align: center;
      }
    }
    &-btn-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 90px;
      border-top: 1px solid #eff2fb;
      width: 100%;
      button {
        @include button;
        &:first-child {
          color: #4357ea;
          border: 1px solid #4357ea;
          background-color: white;
        }
      }
    }
  }