.tag {
  width: auto;
  background: rgba(237, 37, 78, 0.1);
  border: 2px solid #ED254E;
  padding: 5px 10px;
  margin-right: 10px;
  text-transform: uppercase;
  color: #ED254E;
  border-radius: 6px;
  &:last-child {
      margin-right: 0;
  }
}