
@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

section {
  display: block;
  width: 100%;
  div.success-message {
    position: fixed;
    z-index: 30;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 50px;
    border: 1px solid #c3e6cb;
    border-radius: 0.25rem;
    color: #155724;
    background-color: #d4edda;
  }
  header {
    background: $main-background-border-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 110px;
    width: 340px;
    margin-bottom: 40px;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-left: 70px;
      span {
        color: $span-text-color;
        font-size: 25px;
      }
    }
  }
  div.manage-container {
    width: calc(100% - 140px);
    margin: 0 auto;
    nav.manage-nav {
      ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        li {
          border: solid $main-background-border-color 1px;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 56px;
          width: calc(100% / 4);
          text-align: center;
          transition: ease 0.5s;
          &:not(:last-child) {
            border-right: none;
          }
          &:hover,
          &.active {
            background-color: $main-background-border-color;
          }
          &.active {
            box-shadow: inset 0 -2px 0;
          }
        }
      }
    }
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      @include button;
    }
  }
}

span,
p {
  text-transform: capitalize;
}

h2, p, li{
  color: $main-text-color;
}

.text-overflow {
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}

.bold {
  font-weight: 700;
}

.f18 {
  font-size: 18px;
}

.inline-block {
  display: inline-block;
}

.mb-25 {
  margin-bottom: 25px!important;
}

.right {
  float: right;
}
