.container {
    width: 100%;
    min-height: calc(100vh - 128px);
    &__inside {
      padding: 0 5% 150px;
    }
  }

.menu {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__item {
        margin: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 405px;
        height: 253px;
        background: #F9FAFD;
        border-radius: 2px;
        text-decoration: none;
        transition: 0.3s all;
        &:hover {
            border: 2px solid #031772;
            box-sizing: border-box;
        }
        &:hover &_title {
            text-decoration: underline;
        }
        &:hover &_arrow {
            opacity: 1;
            margin-left: 10px;
        }
        &_title {
            font-size: 28px;
            line-height: 42px;
            color: #4357EA;
        }
        &_arrow {
            transition: 0.3s all;
            opacity: 0;
            font-size: 52px;
        }
    }
}