.button {
  padding: 10px 15px;
  background: white;
  color: #FFA700;
  border: 2px solid #FFA700;
  box-sizing: border-box;
  border-radius: 6px;
  transition: 0.3s all;
  text-transform: uppercase;
  font-weight: bold;
  &:hover {
    background: #FFA700;
    color: white;
  }
  &:active {
    background: darken(#FFA700, 10%);
  }
}