.Planner {
    box-sizing: border-box;
    width: 100vw;
    &__header {
        display: flex;
        height: 116px;
        position: relative;
        width: 100%;
    }
    &__title {
        box-sizing: border-box;
        background: #EFF2FB;
        color: #111215;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        margin-right: 67px;
        padding: 28px 0px 0px 73px;
        width: 25%;
        height: 100%;
        &:after {
            color: #EFAC2C;
            content: '.';
        }
    }
    &__container {
        display: flex;
        padding: 17px 73px 0px 73px;
        width: 100%;
        box-sizing: border-box;
    }
}