body {
  font-family: 'Poppins', sans-serif;
  background: white;
  font-size: 16px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input, button {
  font-family: 'Poppins', sans-serif;
}

.App-Login {
  width: 100%;
  height: calc(100vh - 81px);
  background: #EFF2FB;
  display: flex;
  justify-content: flex-end;
  &_Form {
    background: white;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_Header {
      width: 390px;
      margin-bottom: 35px;
      & h2 {
        font-size: 26px;
        font-weight: 600;
        line-height: 39px;
        color: #333333;
      }
    }
    &_Label {
      width: 390px;
      font-size: 16px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &_Field {
      width: 390px;
      margin-bottom: 50px;
    }
    & label {
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */
      color: #333333;
    }
    & input {
      font-size: 14px;
      width: 100%;
      padding: 8px 15px;
      border: 1px solid #C8C3C3;
      box-sizing: border-box;
      border-radius: 6px;
    }
    & #text {
      margin-top: 25px;
    }
    &_Forgot {
      color: #C8C3C3;
    }
    &_Button {
      padding: 8px 30px;
      color: white;
      background: #031772;
      border-radius: 4px;
    }
  }
}
  