// DEBUT VARIABLES CRUD

// TEXT
$main-text-color: #000000;


// BACKGROUND
$main-background-color: #eff2fb;
$second-background-color: rgba(239, 242, 251, 0.35);

// BUTTONS
$btn-main-color: #031772;
$btn-second-color: #4357ea;



// FIN VARIABLES CRUD