// DEBUT VARIABLES CRUD

// TEXT
$main-text-color: #111215;
$span-text-color: #efac2c;
$second-text-color: #031772;

// BACKGROUND AND BORDER
$main-background-border-color: #eff2fb;
$second-background-color: #F9FAFE;

// BOX SHADOW
$main-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);

// BUTTONS
$btn-main-color: #031772;
$btn-second-color: #4357ea;

// FIN VARIABLES CRUD